
@{
    ViewBag.Title = "UpdateControllerNamesAndActions";
}
<br/>
<div class="container">
    <div class="alert alert-success">
        <strong>Success! Security Database has been updated! <a class="btn btn-primary" href="@Url.Action("Index","Security")">Back to Security</a></strong> 
    </div>
</div>


