@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><strong>Forgot Password Confirmation</strong></h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-success">
                Please check your email to reset your password.
            </div>
            <a class="btn btn-primary" href="@Url.Action("UserLogin", "User")">Back to Login</a>
        </div>
    </div>
    
    
</div>

