@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<br/>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><strong>Password Reset Confirmation</strong></h2>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger">
                Your password has been reset successfully
            </div>
             @Html.ActionLink("Please click here to log in", "UserLogin", "User", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", id = "loginLink" })
        </div>
    </div>
</div>
